.input {
  width: 66vw;
  height: 43px;
  background-color: var(--white);
  font: 14px/16px "Roboto", sans-serif;
  padding-left: 9px;
  border-radius: 5px;
}

select {
  appearance: menulist-button;
  color: var(--light-grey);
}
