.flashcard {
  width: 81vw;
  background-color: var(--beige);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
}

.flashcard.collapse {
  background-color: var(--white);
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.flashcard h2 {
  font-weight: 700;
}

.flashcard:not(.collapse) {
  height: 131px;
  color: var(--dark-grey);
  font-size: 18px;
  line-height: 22px;
  padding: 18px 15px 6px;
  position: relative;
}

.flashcard img {
  width: 30px;
  height: 20px;

  position: absolute;
  bottom: 6px;
  right: 15px;
}
