ion-icon {
  font-size: 23px;
}

.play-outline {
  color: var(--dark-grey);
}

.close-circle,
ion-icon[name="close-circle"] {
  text-decoration: line-through;
  color: var(--red);
}

.help-circle,
ion-icon[name="help-circle"] {
  text-decoration: line-through;
  color: var(--yellow);
}

.checkmark-circle,
ion-icon[name="checkmark-circle"] {
  text-decoration: line-through;
  color: var(--green);
}
