ion-icon {
  font-size: 23px;
}

.play-outline {
  color: var(--dark-grey);
}

.close-circle {
  text-decoration: line-through;
  color: var(--red);
}

.help-circle {
  text-decoration: line-through;
  color: var(--yellow);
}

.checkmark-circle {
  text-decoration: line-through;
  color: var(--green);
}
