.result-footer {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px;
}
