.result {
  width: 100vw;
  height: 140px;

  position: fixed;
  bottom: 0;
  left: 0;

  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--white);
}

.result.final-result {
  height: 240px;
  padding: 20px 0;
}
